<section class="background">
  <app-navbar></app-navbar>
  <div class="content-container">
    <mat-card class="mat-elevation-z8">
      <br/>
      <mat-card-title>Clasificación con el KNN</mat-card-title>     
      
      <mat-card-content>
        <div class="subtitle-card">
          <h2>Ingrese los datos de la Persona</h2>          
        </div>

        <form class="form-container" [formGroup]="predictDataForm">
          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select [formControl]="predictDataForm.controls.sexo">
                <mat-option [value]="2">Femenino</mat-option>
                <mat-option [value]="1">Masculino</mat-option>
              </mat-select>     
              <mat-error *ngIf="predictDataForm.controls.sexo.errors?.required">Este campo es obligatorio</mat-error>         
            </mat-form-field>
            <br/>

            <br/>
            <mat-form-field appearance="outline">
              <mat-label>Edad</mat-label>
              <input matInput placeholder="Ingrese edad" type="number" [formControl]="predictDataForm.controls.edad">
              <mat-error *ngIf="predictDataForm.controls.edad.errors?.required">Este campo es obligatorio</mat-error>         
              <mat-error *ngIf="predictDataForm.controls.edad.errors?.min">Debe ser mayor de edad</mat-error>         
              <mat-error *ngIf="predictDataForm.controls.edad.errors?.max">Máximo valor 100</mat-error>         
            </mat-form-field>
            <br/>

            <br/>
            <mat-form-field appearance="outline">
              <mat-label>Desendencia</mat-label>
              <mat-select [formControl]="predictDataForm.controls.etnia">
                <mat-option *ngFor="let opt of optsDesendencia" [value]="opt.key">{{opt.value}}</mat-option>                
              </mat-select> 
              <mat-error *ngIf="predictDataForm.controls.etnia.errors?.required">Este campo es obligatorio</mat-error>         
            </mat-form-field>
            <br/>

            <br/>
            <mat-form-field appearance="outline">
              <mat-label>Nivel Educativo</mat-label>
              <mat-select [formControl]="predictDataForm.controls.nivelEducativo">
                <mat-option *ngFor="let opt of optsEducacion" [value]="opt.key">{{opt.value}}</mat-option>                
              </mat-select>   
              <mat-error *ngIf="predictDataForm.controls.nivelEducativo.errors?.required">Este campo es obligatorio</mat-error>                    
            </mat-form-field>
            <br/>          
          </div>

          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>Último cargo ocupado</mat-label>
              <mat-select [formControl]="predictDataForm.controls.ultimoCargo">
                <mat-option *ngFor="let opt of optsUltimoCargo" [value]="opt.key">{{opt.value}}</mat-option>                
              </mat-select>
              <mat-error *ngIf="predictDataForm.controls.ultimoCargo.errors?.required">Este campo es obligatorio</mat-error>                       
            </mat-form-field>
            <br/>

            <br/>
            <mat-form-field appearance="outline">
              <mat-label>Frecuencia de pago</mat-label>
              <mat-select [formControl]="predictDataForm.controls.frecuenciaPago">
                <mat-option *ngFor="let opt of optsFrecuenciaPago" [value]="opt.key">{{opt.value}}</mat-option>                
              </mat-select>    
              <mat-error *ngIf="predictDataForm.controls.frecuenciaPago.errors?.required">Este campo es obligatorio</mat-error>                   
            </mat-form-field>
            <br/>

            <br/>
            <mat-form-field appearance="outline">
              <mat-label>Ingreso monetario</mat-label>
              <input matInput placeholder="Ingrese monto" type="number" [formControl]="predictDataForm.controls.ingresoMonetario">
              <mat-error *ngIf="predictDataForm.controls.ingresoMonetario.errors?.required">Este campo es obligatorio</mat-error>         
              <mat-error *ngIf="predictDataForm.controls.ingresoMonetario.errors?.max">Fuera del rango de ingresos monetarios</mat-error>         
            </mat-form-field>
            <br/>

            <br/>
            <mat-form-field appearance="outline">
              <mat-label>Seguro de Salud</mat-label>
              <mat-select [formControl]="predictDataForm.controls.seguroSalud">
                <mat-option *ngFor="let opt of optsSeguroSalud" [value]="opt.key">{{opt.value}}</mat-option>                
              </mat-select>     
              <mat-error *ngIf="predictDataForm.controls.seguroSalud.errors?.required">Este campo es obligatorio</mat-error>                  
            </mat-form-field>
            <br/>
          </div>
        </form>

        <button *ngIf="!isClassifying" mat-raised-button class="btn-action" color="primary" [disabled]="predictDataForm.invalid" (click)="predictInformation()">
          <mat-icon>psychology</mat-icon>
          Clasificar
        </button>
        <button *ngIf="isClassifying" mat-raised-button class="btn-action" color="primary" [disabled]="true">
          <mat-spinner diameter="25"></mat-spinner>
        </button>

        <br/>
        <div *ngIf="afterClassify" class="result-container" >
          <div class="subtitle-card">
            <h2>Resultados</h2>
          </div>
          <div class="data-result-container">
            <img class="img-class"[src]="'../../../assets/img/'+imgClass">
            <b>{{ classifyData.class }}</b>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
