<section class="header-section">  
  <app-navbar></app-navbar>

  <div class="text-box-bottom inline-left">
    <h1 class="align-end">Proyecto KNN classification</h1>
    <div class="align-end">
      <p>Por medio del algoritmo de machine learning K Nearest Neighbours</p>    
      <p>y métodos de concurrencia y paralelización para optimizar procesos</p>
      <p>se busca clasificar la condición laboral de un conjunto de personas</p>
      <p>en base a una seria de preguntas realizadas por una encuesta</p>
    </div>
    <br/>
    <a routerLink="/training" class="btn-action align-end">Training</a>
    <a routerLink="/classification" class="btn-action align-end">Classification</a>
  </div>
</section>